$prussian-blue:  #0A374F;
$charcoal: #224B60;
$paynes-gray: #385D70;
$coral: #F57E4B;
$honolulu-blue: #0077B6;
 

$font-title: 'Over the Rainbow', cursive;
$font-body: 'Inter', sans-serif; //gäller headin 3-6 och brödtext.
$font-heading2: 'Jura', sans-serif;
 
$mobile-font-size-title: 40px;
$mobile-font-size-heading2: 25px;
$mobile-font-size-heading3: 20px;
$mobile-font-size-heading4-6: 18px;
$mobile-font-size-paragraph: 16px;
 
$tablet-font-size-title: 64px;
$tablet-font-size-heading2: 35px;
$tablet-font-size-heading3: 25px;
$tablet-font-size-heading4-6: 20px;
$tablet-font-size-paragraph: 18px;
 
$desktop-font-size-title: 90px;
$desktop-font-size-heading2: 45px;
$desktop-font-size-heading3: 22px;
$desktop-font-size-heading4-6: 20px;
$desktop-font-size-paragraph: 20px;