$prussian-blue: #0a374f;
$charcoal: #224b60;
$paynes-gray: #385d70;
$coral: #f57e4b;
$honolulu-blue: #0077b6;
$pacific-cyan: #00B4D8;

$font-title: "Over the Rainbow", "pacifico", serif;
$font-body: "Inter", sans-serif; //gäller headin 3-6 och brödtext.
$font-heading2: "Jura", sans-serif;

$mobile-font-size-title: 2.5rem;
$mobile-font-size-heading2: 1.57rem;
$mobile-font-size-heading3: 1.25rem;
$mobile-font-size-heading4-6: 1.125rem;
$mobile-font-size-paragraph: 1rem;

$tablet-font-size-title: 4rem;
$tablet-font-size-heading2: 2.19rem;;
$tablet-font-size-heading3: 1.57rem;
$tablet-font-size-heading4-6: 1.25rem;
$tablet-font-size-paragraph: 1.125rem;;

$desktop-font-size-title: 5.625rem;
$desktop-font-size-heading2: 2.8125rem;
$desktop-font-size-heading3: 1.375rem;
$desktop-font-size-heading4-6: 1.25rem;
$desktop-font-size-paragraph: 1.25rem;

$font-size-button: 1.25rem;
